body {
    direction: rtl;
    text-align: right;
}

.header {
    height: 50px;
    padding: 0 60px;
    margin-bottom: 100px;
    background-color: #f4f4f4;
}

.error-text {
    color: crimson;
    display: block;
    font-size: 16px;
    text-align: center
}

.formMessages {
    margin: 20px 0;
}

.tableWrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.tableWrapper table {
    text-align: center;
    table-layout: fixed;
}

.tableWrapper th:nth-child(1) {
    width: 55.5%;
}

.tableWrapper th:nth-child(2) {
    width: 12%;
}

.tableWrapper th:nth-child(3),
.tableWrapper th:nth-child(4),
.tableWrapper th:nth-child(5),
.tableWrapper th:nth-child(6),
.tableWrapper th:nth-child(7) {
    width: 6.5%;
}