body {
    direction: rtl;
    text-align: right;
}

.header {
    height: 50px;
    padding: 0 60px;
    margin-bottom: 24px;
    background-color: #f4f4f4;
}

.error-text {
    color: crimson;
    display: block;
    font-size: 16px;
    text-align: center;
}

.formMessages {
    margin: 20px 0;
}

.tableWrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.tableWrapper table {
    text-align: center;
    table-layout: fixed;
}

.tableWrapper th:nth-child(1) {
    width: 55.5%;
}

.tableWrapper th:nth-child(2) {
    width: 12%;
}

.tableWrapper th:nth-child(3),
.tableWrapper th:nth-child(4),
.tableWrapper th:nth-child(5),
.tableWrapper th:nth-child(6),
.tableWrapper th:nth-child(7) {
    width: 6.5%;
}

.list-group {
    padding-right: 0;
}

.qListTable table {
    table-layout: fixed;
}

.qListTable th:nth-child(1) {
    width: 70%;
}

.qListTable th:nth-child(2),
.qListTable th:nth-child(3) {
    padding: 0;
    width: 15%;
    text-align: center;
    vertical-align: middle;
}

.qListTable tr td:nth-child(1) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.qListTable tr td:nth-child(2),
.qListTable tr td:nth-child(3) {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.qListTable input {
    width: 20px;
    height: 20px;
}

form img {
    max-width: 100%;
}

.form-group .close {
    top: -5px;
    margin-left: 8px;
    position: relative;
}

.uploadFileInput {
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    z-index: -1;
    position: fixed;
}

.uploadImgBtn {
    padding: 0;
    width: 40px;
    border: none;
    cursor: pointer;
    background: none;
}

.uploadImgBtn img {
    width: 40px;
    height: 40px;
}

.imgPreviewWrapper {
    width: 64px;
    max-height: 64px;
    display: none;
    position: relative;
}

.imgPreviewWrapper .close {
    top: -8px;
    right: 100%;
    margin-right: 4px;
    position: absolute;
}

.imgPreview {
}